*
!.dockerignore
!Dockerfile
!shard.yml
!shard.lock
!src/
!src/**
!sql/
!sql/**
!templates/
!templates/**
templates/assets/tinrelay/**
!templates/assets/tinrelay/plain.css
!templates/assets/tinrelay/home-copy.js
!container/
!container/tinrelayd-entrypoint
